# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run


config
crash-reports
logs
saves


gradle/wrapper/gradle-wrapper.properties
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
forge-1.8.9-11.15.0.1693-changelog.txt
README.txt
Paulscode IBXM Library License.txt
gradle/wrapper/gradle-wrapper.jar
MinecraftForge-License.txt
Paulscode SoundSystem CodecIBXM License.txt

options.txt
usercache.json
usernamecache.json

src/main/java/io/github/bfox1/SwordArtOnline/common/proxy/CommonProxy.java
